@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard-Regular';
}
.music {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Pretendard-Regular'; 
}
.musicmsg{margin-left: 40px;}

.header {
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}

.logo {
    object-fit: cover;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

    .nav-links li a {
        text-decoration: none;
        font-size: 18px;
        
        color: #333;
        padding: 10px;
    }

.logins {
    text-align: right;
}

.logins button {
    font-size: 15px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.logins button:hover {
    background-color: #003D80;
    transition: 0.5s;
}



.image-section {
    width: 100vw;  /* Viewport width to make it full width */
    overflow: hidden;  /* Hide any overflowing content */
}

.image-section video {
    width: 100%;  /* Make the video span the entire section */
    height: 200px;  /* Maintain aspect ratio */
    object-fit: cover;  /* Crop video if necessary to fill the section */
}

.main-content {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
}


.hot-section {
    grid-column: 1 / 2;
}

    .hot-section ul {
        list-style: none;
    }

        .hot-section ul li a {
            text-decoration: none;
            color: #007BFF;
            font-size: 18px;
        }

.video-section {
    grid-column: 1 / 2;
    margin-top: 20px;
}

.videos {
    display: flex;
    gap: 10px;
}

.video-box {
    background-color: #ccc;
    width: 100px;
    height: 75px;
}

.sports-section {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3, 0.7fr);
    gap: 20px;

}

.league {
    border: 1px solid black;
}

.league h2 {
    text-align: center;
}

.league ol {
    padding-left: 20px;
}
