@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard-Regular';
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

    .nav-links li a {
        text-decoration: none;
        color: #333;
    }

.logins {
    text-align: right;
}

    .auth button {
        margin-left: 10px;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        cursor: pointer;
    }

.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
}

.image-section {
    grid-column: 1 / span 3;
    text-align: center;
}

    .image-section img {
        max-width: 100%;
        height: auto;
    }

.hot-section {
    grid-column: 1 / 2;
}

    .hot-section ul {
        list-style: none;
    }

        .hot-section ul li a {
            text-decoration: none;
            color: #007BFF;
        }

.video-section {
    grid-column: 1 / 2;
    margin-top: 20px;
}

.videos {
    display: flex;
    gap: 10px;
}

.video-box {
    background-color: #ccc;
    width: 100px;
    height: 75px;
}

.sports-section {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.league h2 {
    text-align: center;
}

.league ol {
    padding-left: 20px;
}
