@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

#retry-timer {
  font-size: 1em;
  margin-top: 10px;
  color: red;
}

body {
  background-color: #90e0ef;
  font-family: "Do Hyeon", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 70px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 왼쪽, 오른쪽 정렬을 위한 속성 */
  padding: 0 20px;
  /* 네비게이션 안쪽 여백 */
}

.nav-right-items {
  display: flex;
  justify-content: flex-end;
  /* 아이템을 오른쪽으로 정렬 */
  align-items: center;
}

.nav-item {
  color: #ffffff;
  margin-left: 20px;
  /* 아이템 간 간격 설정 */
}

/* 시계 스타일 */
.clock {
  color: #ffffff;
}

.main {
  width: 500px;
  margin: 20px auto 0;
}



.subtitle {
  margin-top: 80px;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: #03045e margin-bottom: 60px;
}

.countdown {
  margin-top: 20px;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 300;
  color: #03045e
}

.imagec {

  align-items: center;
  margin-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.message {
  font-size: 1em;
  margin-top: 10px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  animation: shake 0.5s;
}



.input-section{
  font-family:"Do Hyeon", sans-serif; 
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  color: #03045e
}

.info{
  font-family: "Do Hyeon", sans-serif;
}

.unav{ 
  height: 400px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 왼쪽, 오른쪽 정렬을 위한 속성 */
  padding: 0 20px;

}

